body.category
    .media
        padding: 0.5em
    a
        color: $mdesigner
        &:hover
            text-decoration: none
            color: $mdesignergreen
    a.btn
        border: 2px solid rgba(0, 0, 0,0.05)
        float: right
        background-color: $mdesigner
        color: #1fbba6
        -webkit-transition: all .3s ease-in-out
        -moz-transition: all .3s
        transition: all .3s
        &:hover
            background-color: $mdesignergreen
            color: $mdesigner
            border: rgba(15, 27, 31, 0.8) solid
    