.cookiebox
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    z-index: 999999
    display: block
.infocookies
    margin: auto
    position: relative
    top: 0
    height: 50px
    width: 100%
    text-align: center
    background-color: $mdesigner
    p
        color: #fff
        line-height: 58px
        font-size: 12px
        text-align: center
        a
            color: $mdesignergreen
            margin-right: 5px
            text-decoration: underline
            border: 0.1rem solid #fff
            padding: 0.2rem 0.5rem
            &:hover
                color: #fff
                background-color: rgba($mdesignergreen, 0.2)
  