@media (max-width: 992px)
    .navbar
        .container
            margin-left: 0
            margin-right: 0
        .collapse.show
            background-color: #fff
            padding: .2rem
            transition: background-color 0.5s ease
        .nav-item
            padding-left: 0.5rem
    .navbar-toggler
        display: block
        margin: 0 auto
        position: fixed
        bottom: 2rem
        right: 2rem
        z-index: 10000000000
        width: 3rem
        height: 3rem
        border: 0
        border-radius: 50%
        opacity: 1
        @include box-shadow(0 5px 10px 0 rgba(0,0,0,0.5))
        background-color: rgba(white, 0.6) 
    #navbarNav
        @include box-shadow(0 5px 10px 0 rgba(0,0,0,0.2))
        border-radius: 4% 4% 0 4%     
        text-align: center
        bottom: 5rem
        position: fixed
        width: 80%
        .menu-item
            text-transform: uppercase
            border-bottom: 1px solid rgba($mdesignergrey, 0.2)
            &:last-child
                border: 0
    .navbar-brand
        padding-left: calc(100%/3.5)
    .card
        border: 1px solid rgba($mdesignergrey, 0.2)!important
        margin: 0.5rem auto  
        @include box-shadow( 0 1px 3px rgba(0, 0, 0, 0.12))
    body.category
        a.btn
            width: 100%    