body.post-template-single-productos
    .navbar
        background-color: white   
        border-bottom: 1px solid $mdesigner
    .title-producto
        
    .row.product
        background-color: rgba($mdesignergrey, 0.05)
        border: 1px solid rgba(183,183,183, 0.5)
        padding: 2em 0
    .card-group
        border: 2px solid rgba($mdesigner, 0.05)
        border-radius: 4px
        &.mb-3
            padding: 0.3em
        .htop
            height: 200px
            max-height: 100%
            max-width: 100%
        .card
            .card-body
                padding: 0.5em
                .card-title
                    text-align: center
                .card-text
                    padding-bottom: 2em
            a.btn
                border: 2px solid rgba(0, 0, 0,0.05)
                float: right
                background-color: $mdesigner
                color: #1fbba6
                -webkit-transition: all .3s ease-in-out
                -moz-transition: all .3s
                transition: all .3s
                &:hover
                    background-color: #1fbba6
                    color: $mdesigner
                    border: rgba(15, 27, 31, 0.8) solid
                badge
                    padding: 0.5em 1em
                    background-color: $mdesignergreen
            .card-footer        
                border-top: 1px solid rgba(0,0,0,.05)
                background-color: rgba($mdesignergrey, 0.05 )
                 
    .btn.thumbnail  
        border: 2px solid rgba(0, 0, 0,0.05)
        float: center
        background-color: rgba($mdesigner, 0.5)
        color: $mdesignergreen
        -webkit-transition: all .3s ease-in-out
        -moz-transition: all .3s
        transition: all .3s
        &:hover
            background-color: #1fbba6
            color: $mdesigner
            border: rgba(15, 27, 31, 0.8) solid
        badge
            padding: 0.5em 1em
            background-color: rgba($mdesignergreen, 0.5)
    a
        color: $mdesignergreen
    div.row.ml-auto.mr-auto.mt-3
        border-top: 2px solid rgba(0, 0, 0,0.05)
        padding: 0.5em 0