$mdesigner: #0F1B1F
$mdesignergreen: #1fbba6 
$mdesignergrey: #b7b7b7

@import "normalize"
@import "bootstrap"
@import "mixins" 

 
*
  margin: 0
  padding: 0

body
  margin: 0
  font-family: Roboto, sans-serif

h1, h2, h3, h4, h5, h6
  font-family: Roboto, sans-serif
  text-transform: uppercase  
h1
    font-size: 1.5rem
h2
    font-size: 1.3rem
h3
    font-size: 1.1rem    
h4
    font-size: 0.9rem    
h5
    font-size: 0.7rem    
h6    
    font-size: 0.65rem
p
    font-size: 0.8rem
    

.shadow-1
    @include box-shadow( 0 1px 3px rgba(0, 0, 0, 0.12))

.shadow-2
    @include box-shadow( 0 3px 6px rgba(0, 0, 0, 0.16))

.shadow-3
    @include box-shadow( 0 10px 20px rgba(0, 0, 0, 0.19))

.shadow-4
    @include box-shadow( 0 14px 28px rgba(0, 0, 0, 0.25))

.shadow-5
    @include box-shadow( 0 19px 38px rgba(0, 0, 0, 0.3))

@media (min-width: 992px)
    .elevation-0:hover
        @include box-shadow( 0 1px 3px rgba(0, 0, 0, 0.12))
        margin: .5rem
        padding: 2rem
    .elevation-0
      transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1)
      &:hover
        transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1)
    .elevation-1
      transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1)
    .elevation-1
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
      &:hover
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
        z-index: 4
   
.card
  width: 100%
  border-style: none
  border-radius: 0
  
  .img-precios.container
    background-color: $mdesigner
    width: 100%
    height: 153px
    padding-top: 0.8rem
    h2
      color: rgba(31, 187, 166, 0.5)
    .card-img-top
      width: 94px
      height: 94px
  .card-block
    padding: 0.25rem 0.5rem 0.5rem
    .card-title
      margin-bottom: .2rem
      color: $mdesignergreen
      font-size: 1em
      small
        font-size: 0.5em
    .card-text
      margin-bottom: .2rem
      color: #b7b7b7
      border-bottom: 1px solid rgba(128, 128, 128, 0.5)
    a
      color: $mdesignergreen!important
      &:link
        color: $mdesignergreen!important
      &:hover
        color: $mdesigner
        text-decoration: none
        text-transform: uppercase
    .btn
      border-radius: 0
      background-color: $mdesigner
      color: #fff
      height: 30px
      padding: .2rem 1rem
      margin-top: 0.4rem
  .card-img-top
    padding: 0.5em
    img
      max-height: 100%
      max-width: 100%

.col-md-2
  padding: 0 0.2rem

.navbar-brand
  height: 100% !important

#header-container
  height: 331px
  width: 100%
  background-repeat: no-repeat
  background-size: cover
  color: $mdesigner
  z-index: 8px
  .content-header
    padding-top: 50px
    .row-header
      border: 1px solid #ff0

.navbar
  background-color: transparent
  height: 3em
  .active
    background-color: $mdesigner

ul.dropdown-menu .active
  background-color: $mdesigner

.navbar
  .navbar-brand
    height: 28px
  .navbar-toggler-icon
    height: 1em
    width: 1em
  .active .nav-link
    color: #fff !important
  ul .nav-item a.nav-link
    color: $mdesigner !important

.navbar-light .navbar-nav
  .active > .nav-link
    color: #fff !important
  .nav-link
    &.active, &.open
      color: #fff !important
  .open > .nav-link
    color: #fff !important
  .active > .nav-link nav-link
    color: $mdesigner !important
  .nav-link
    &.active nav-link, &.open nav-link
      color: $mdesigner !important
  .open > .nav-link nav-link
    color: $mdesigner !important

ul.dropdown-menu
  border: 0
  border-radius: 0 0 0.25rem 0.25rem
  .active .dropdown-item
    color: #fff !important

.content
  padding: 1.5rem 0

footer
  padding-top: .5em
  padding-bottom: 0
  bottom: 0
  p
    font-size: .6rem
    text-align: center
    margin-bottom: 0
    a img
      width: 18px
#menu-footer.menu.nav
    li
        a
            font-size: .8rem
            color: $mdesigner
            &:hover
                color: $mdesignergreen


#categoria-container
  padding-top: 2rem
  .card
    margin-bottom: 2rem
    max-height: 30rem
    max-width: 100%
    .card-img-top .img-default
      width: 100%
      height: 100%

#respond
  .comment-form-comment
    display: flex
    flex: 1
    border: 1px solid #1fbba6
    border-radius: 3px
    .label
      text-transform: uppercase
      fill: currentcolor
      display: inline-block
      flex-basis: 80px
      vertical-align: middle
    #comment
      overflow: none
      height: 2rem
      border: transparent
      border-radius: 0
      padding: .35em .5em
      border-left: 1px solid #1fbba6
      flex-grow: 1
      margin-left: 0.25rem
  #submit
    border: none
    background-color: $mdesigner
    color: #fff
    height: 30px
    padding: .2rem 1rem
    margin-top: 0.4rem

#sidebar
  border-left: 1px solid rgba($mdesigner, 0.05)
  ul
    list-style: none

.page-template-page-landing
  max-width: 100%
  .content
    padding: 1.5rem 0
  #carousel, #section1, #section3, #section4
    padding: 2rem 0
  .content
    h1, h2, h3, h4, h5, h6
      text-align: center
      margin-bottom: 1.5rem
    p
      margin-bottom: 2rem
  #section2
    background-color: $mdesigner !important
    width: 100%
    padding: 2rem 0
    h1, h2, h3, h4, h5, h6
      color: #1fbba6
    p
      color: #fff
    img.infografia
      width: 570px
      max-width: 100%
      height: 1100px
      max-height: 100%
  #carousel #mdesigner_slides .carousel-item
    height: 400px
  
#sec4
  background-color: rgba(183, 183, 183, 0.15)

div.wpcf7
  margin: 2rem 0 !important
  .wpcf7 form.wpcf7-form p input
    border: none
    box-shadow: none
  p .btn
    float: left
    width: 100%
    border: rgba(31, 187, 166, 0.8) solid
    cursor: pointer
    background-color: $mdesigner
    color: #1fbba6
    font-size: 24px
    padding-top: 22px
    padding-bottom: 22px
    -webkit-transition: all .3s
    -moz-transition: all .3s
    transition: all .3s
    margin-top: -4px
    font-weight: 700
    &:hover
      background-color: #1fbba6
      color: $mdesigner
      border: rgba(15, 27, 31, 0.8) solid
     
.page-template-page-store
  #header-container
    height: 300px
  h2
    text-align: center
    color: $mdesigner
    background-color: #f6f6f6
    padding: 0.5rem 0
  .navbar
    background-color: #fff

.instawrap
  width: 100%
  position: relative
  height: 250px
  margin-top: 50px
  .instagram-lite
    display: inline-flex
    list-style: none
    width: 100%
    height: 250px
    overflow-x: hidden
    .il-item
      position: relative
      margin: 0
      padding: 0
      width: 250px
      max-width: 100%
      display: table
      > a
        z-index: 1
        position: absolute
      .il-photo__img
        position: relative
        height: 250px
        width: 250px
        max-width: 100%
        max-height: 100%
        -webkit-transition: filter 2s
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.08)
        -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.08)
        -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.08)
        &:hover
          filter: blur(2px)
          transition: filter 2s
          -webkit-transition: filter 2s
@import "mobile" 
@import "Productos"  
@import "category" 
//@import "cookie"